{% load bootstrap4 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Django simple blog</title>
    {% bootstrap_css %}
  </head>
  <body class="bg-light">
    <div class="container mt-4">
      <h1>О блоге</h1>
      <p>Список доступных статей:</p>
      {% for article in TEAM %}
      <p>The {{ article.name }} article written by {{ article.author }} <a href="{{ article.link }}">Link</a></p>      
      {% endfor %}
    </div>
  </body>
</html>
