<!-- hexlet_django_blog/templates/base.html -->
{% load bootstrap4 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Django на Хекслете{% endblock %}</title>
<style>
      #navbar {
        margin: 0;
        padding: 0;
        list-style-type: none;
        width: 100px;
      }
      #navbar li {
        border-left: 10px solid #666;
        border-bottom: 1px solid #666;
      }
      #navbar a {
        background-color: #949494;
        color: #fff;
        padding: 5px;
        text-decoration: none;
        font-weight: bold;
        border-left: 5px solid #33ADFF;
        display: block;
      }
    </style>
</head>
<body>
<ul id="navbar">
      <li><a href="#">Статьи</a></li>
</ul>
<div id="sidebar">
    {% block sidebar %}
      <a href="{% url 'index' %}">Назад к главной странице</a>
      <a href="{% url 'details-view' %}">Особенно интересные статьи</a>
    {% endblock %}
</div>
<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>
