{% load bootstrap4 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Django simple blog</title>
    {% bootstrap_css %}
  </head>
  <body class="bg-light">
    <div class="container mt-4">
      <h1>Уточнения</h1>
      <p>Уточнения по статьям - ссылки на особо интересные:</p>
      {% for article in ARTICLES %}
      <p>The {{ article.name }} article written by {{ article.author }} <a href="{{ article.link }}">Link</a></p>      
      {% endfor %}
    </div>
    <div id="sidebar">
    {% block sidebar %}
        <ul>
            <li><a href="{% url 'index' %}">Назад к главной странице</a></li>
        </ul>
    {% endblock %}
    </div>
  </body>
</html>
