<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Джанго Блог</a>
        
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">            
            <a class="nav-link" href="{% url 'about' %}">О блоге</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'articles_index' %}">Статьи</a>
          <li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'categories_index' %}">Категории статей</a>
          </li>
        </ul>
    </div>
</nav>
