{% extends 'layout.html' %}
{% load bootstrap4 i18n %}
{% get_current_language as LANGUAGE_CODE %}

    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}

{% block content %}
{% if form.subject.errors %}
  <div>
    <ul>
    {% for error in form.subject.errors %}
      <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ul>
  </div>
{% endif %}
  <form action="{% url 'articles_create' %}" method="post">
    {% csrf_token %}
    <table border="1">
      {{ form }}
    </table>
    <input type="submit" value="Создать">
  </form>
{% endblock content %}
