{% extends 'layout.html' %}
{% load bootstrap4 i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<div class="container mt-4">
<!--   ссылка на создание новой ктегории -->
  <small><a href="{% url 'category_create' %}">Создать категорию</a></small>
  
<!-- Вывод имени и описание категории. Вывод списка названий статей и категории в виде <ol> списка. 
  Если статей в категории нет, то тег <ol> не отображается. Каждое название – ссылка на саму статью. -->
  
  <h1>{{ category.name }}</h1>
  <div>{{ category.description }}</div>
  {% if category.article_set.all %}
  <h2>Статьи</h2>
  <ol>
    {% for article in category.article_set.all %}
    <li>
      <a href="{% url 'articles_detail' article.id %}">{{ article.title }}</a>
    </li>
    {% endfor %}
  </ol>
  {% endif %}
{% endblock content %}
